@import "~bootstrap/scss/bootstrap.scss";

#top-left {
  font-size: 64px;
  margin-top: -20px;
}
#number {
  font-size: 64px;
  //   padding-top: 80px;
  //   padding-bottom: 80px;
}
#bottom-right {
  font-size: 72px;
  margin-top: 30px;
  margin-bottom: -10px;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
#cardX {
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
}
body {
  background: green;
}
